reCAPTCHA details.txt
.env
.vscode/settings.json
main/__pycache__/
main/migrations/__pycache__/
main_tutorial/__pycache__/
main_tutorial/migrations/__pycache__/
tutorial/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
users_tutorial/__pycache__/
users_tutorial/migrations/__pycache__/

cpython-311.pyc
accounts.json
example_routes.json
static/miscellaneous.js
static/miscellaneous.css
