reCAPTCHA details.txt
.env
.vscode/settings.json
db.sqlite3

main/__pycache__/
main/migrations/__pycache__/
main_tutorial/__pycache__/
main_tutorial/migrations/__pycache__/
tutorial/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
users_tutorial/__pycache__/
users_tutorial/migrations/__pycache__/
testing/__pycache__
testing/management/__pycache__
testing/management/commands/__pycache__

testing/load_test.py

cpython-311.pyc
accounts.json
example_routes.json
static/miscellaneous.js
static/miscellaneous.css

media/
