{% extends 'base.html' %}
{% load static %}


{% block extend_head %}


{% endblock %}


{% block content %}

<!-- Header of the page -->
<h3 id="map">Generate Alerts</h3>

<!-- The map -->
<div id="generate_alerts"></div>

{% endblock %}

{% block extend_footer %}


<script type="text/javascript">

    var google_api_key = "{{ google_api_key | safe }}";

    var markers = [
        {
            id: 1,
            lat: 44.426060958596466,
            lng: 26.104006816577396,
            zone: "Piața Unirii",
            speed: 20,
            alert: "Accident Ahead - Drive Carefully",
            content: "Piața Unirii Alert & Notification",
            ariaLabel: "Piața Unirii Alert & Notification",
            title: "Piața Unirii Alert & Notification"
        },
        {
            id: 2,
            lat: 44.441820755559725,
            lng: 26.176324369135536,
            zone: "Pantelimon",
            speed: 20,
            alert: "Road under Construction - Drive Carefully",
            content: "Pantelimon Alert & Notification",
            ariaLabel: "Pantelimon Alert & Notification",
            title: "Pantelimon Alert & Notification"
        },
        // Add more marker objects here as needed
    ];

</script>

<script src="{% static 'generate_alerts.js' %}"></script>

<script src="{% static 'buttons/recenter.js' %}"></script>
<script src="{% static 'buttons/toggleCirclesVisibility.js' %}"></script>
<script src="{% static 'map/markers.js' %}"></script>

<img id="hiddenGenerateAlertIcon" src="{% static '/map/markers/generateAlert.png' %}">

{% endblock %}